<a href="https://colab.research.google.com/github/bverlyUJ99/Analisis_de_datos/blob/main/Pr%C3%A1cticaPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {'Country': ['Costa Rica', 'India', 'Brazil'],
        'Capital':['San José', 'New Delhi','Brasilia'],
        'Population':[4500000,1303171035,207847528]}
df = pd.DataFrame(data,columns=['Country','Capital','Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San José     4500000
1       India  New Delhi  1303171035
2      Brazil   Brasilia   207847528

In [ ]:
print("Promedio de los elementos del vector")
Suma=0
Media=0
Temp=[]
print("Ingrese la cantidad de temperaturas: ")
N=int(input())

for i in range(N):
  temperatura=float(input("Ingrese la temperatura: "))
  Temp.append(temperatura)
  Suma=Suma+Temp[i]
Media=Suma/N
print("La media es: "+str(Media))

Promedio de los elementos del vector
Ingrese la cantidad de temperaturas:
2
Ingrese la temperatura: -0.5
Ingrese la temperatura: 12
La media es: 5.75

In [ ]:
import pandas as pd
mascota = pd.DataFrame(
    data={
        'name': ['Minino', 'Milo','Snoppy','Blanco','LittlePony'],
        'type': ['gato','perro','perro','perro','caballo']
    },
    index = [71,42,11,98,42]
) 

print(mascota)
visitas = pd.DataFrame(
    data={
        'pet_id': [45,25,3,42,98,71],
        'fecha': ['2020-05-24','2019-05-10','2020-11-24','2023-02-24','2020-03-05','2021-09-14'],
        'costo': [20000,18900,54325,100000,5630,10200],
    }
)

mascota.index.rename('pet_id', inplace=True)
visitas.index.rename('visit_id', inplace=True)
print(mascota.query('pet_id==71'))
print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())

print(visitas)

print(visitas.sort_values(by='costo', ascending=False))
#tienda= pd.merge(mascota, visitas, how='cross')
#print(tienda)

          name     type
71      Minino     gato
42        Milo    perro
11      Snoppy    perro
98      Blanco    perro
42  LittlePony  caballo
          name  type
pet_id
71      Minino  gato
209055
5630
100000
          pet_id       fecha   costo
visit_id
0             45  2020-05-24   20000
1             25  2019-05-10   18900
2              3  2020-11-24   54325
3             42  2023-02-24  100000
4             98  2020-03-05    5630
5             71  2021-09-14   10200
          pet_id       fecha   costo
visit_id
3             42  2023-02-24  100000
2              3  2020-11-24   54325
0             45  2020-05-24   20000
1             25  2019-05-10   18900
5             71  2021-09-14   10200
4             98  2020-03-05    5630

In [ ]:
import pandas as pd

students = [('Ana', 23, 'San Jose', 'A'),
            ('Esteban', 22, 'Heredia','B'),
            ('Juan', 22, 'Cartago','A'),
            ('Karla', 22, 'Limon','A'),
            ('Ernesto', 21, 'Heredia','B')]
df = pd.DataFrame(students, columns = ['Nombre', 'Edad', 'Ciudad','Seccion'])
print(df)

    Nombre  Edad    Ciudad Seccion
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limon       A
4  Ernesto    21   Heredia       B

In [ ]:
def getIndexes(dfObj,value):

  listOfPos = []
  result = dfObj.isin([value])
  seriesObj = result.any()
  columnNames = list(seriesObj[seriesObj == True].index)

  for col in columnNames:
    rows = list(result[col][result[col] == True].index)

    for row in rows:
      listOfPos.append((row, col))

  return listOfPos

In [ ]:
listOfPositions = getIndexes(df, 'Karla')

print('Index position of 22 in DataFrame : ')

for i in range(len(listOfPositions)):
   print(listOfPositions[i])

Index position of 22 in DataFrame :
(3, 'Nombre')

In [ ]:
#Estudiantes
#Maria Angélica Robles Azofeifa
#Noel Muñoz Ramirez
#Gabriel Barboza Carvajal
#Beverly Ugalde Jenkins


#Vamos a hacer una busqueda para obtener el procentaje de conectividad